tr:nth-child(1) {
    background-color: black;
    color: white;
    border: none;
  }
  
  a {
  text-decoration: none;
}

  td, th {
    padding: 10px;
    text-align: start;
    text-decoration: none;
  }
  
  table {
    border-collapse: collapse;
  }
  
  tr:nth-child(odd):not(:first-child) {
    background-color: #cccfcd;
    
  }

  .twitter
  {
    background-color: #1A8CD8;
    color: white;
    padding: 5px;
    border-radius: 100px;
  }
  .instagram
  {
    background-color: #EA0C5F;
    color: white;
    padding: 5px;
    border-radius: 100px;
  }
  .youtube
  {
    background-color: #CC0000;
    color: white;
    padding: 5px;
    border-radius: 100px;
  }

  